# Dependencies
node_modules/

# Hardhat
artifacts/
cache/
typechain-types/
**/ignition/deployments/chain-31337/

# Foundry
out/
lib/
dependencies/
# Allow mainnet/testnet broadcast artifacts (exclude local anvil)
**/broadcast/**/31337/
**/broadcast/**/31337/**

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
